<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="app.css">
    <title>The Kiki Bar</title>
</head>
<body>
    
  <div class="header">
    <header>
      <h1>The Kiki Bar</h1>
      <address>
        999 Luna St.
        Los Angeles, CA 99999 <br>
        <strong>Open 12pm - 8pm daily</strong>
      </address>
    </header>
    <img src="https://images.unsplash.com/photo-1514933651103-005eec06c04b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1934&q=80" alt="" class="header__img">
  </div>

  <div class="nav">
    <nav>
      <a>Menu</a>
      <a>About Us</a>
      <a>Contact</a>
      <a>Reviews</a>
    </nav>
    <div class="nav__line"></div>
  </div>

<div class="body">
  <div class="body__menu">
    <h2>Menu</h2>
  </div>
  <div class="body__about">
    <h2>About Us</h2>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam dignissimos adipisci ipsum repellat sed tempora minus necessitatibus minima at nobis explicabo odit quam optio architecto eos, animi veritatis sunt aperiam!
      At nulla dolores numquam nesciunt sapiente molestias eveniet, sequi quasi excepturi ullam est non asperiores hic neque aut deserunt voluptatum eligendi maiores. Alias et unde ratione similique modi? Nemo, sit.
      Consectetur esse eveniet fugiat, quam numquam dolorem doloribus nesciunt soluta alias. In, perferendis accusamus at autem illum vero laudantium quas similique, eveniet molestiae unde earum amet fugit nesciunt tempora necessitatibus.
    </p>
  </div>
  <div class="body__contact">
    <h2>Contact</h2>
    <address>
      <p>999 Luna St. <br>
        Los Angeles, CA 99999</p>
      <a href="mailto:redspider@lily.com">redspider@lily.com</a> <br>
      <a href="tel:+9999999999">(999) 999-9999</a>
    </address>
    <textarea name="msg" class="contact__msg" cols="80" rows="15" form="contact__form"></textarea>
   <form action="" id="contact__form" >
     <div>
      <label for="name">Name:</label> <br>
      <input type="text" class="contact__name" name="name">
     </div>
      <div>
      <label for="email">Email:</label> <br>
      <input type="email" class="contact__email" name="email">
      </div>
     <input type="submit" class="contact__submit">
    </form>
  </div>
</div>

<footer>
  <div class="footer__line"></div>
  <div class="footer__contact">
    
  </div>
  <div class="footer__hours">
    
  </div>
</footer>
</body>
</html>