* {
    padding:0;
    margin:0;
  }
  
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .header h1 {
    padding: 25px 0px;
    margin-top: 30px;
    border-top: 2px solid black;
    color: rgb(105,105,105);
    text-transform: uppercase;
  }
  
  .header address{
    padding-bottom: 25px;
  }
  
  .header__img {
    margin: 10px 0px;
    object-fit: cover;
    height: 50vw;
    width: 100%;
  }
  
  .nav nav{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    margin: auto;
    padding: 25px 0px;
  }
  
  .nav a {
    font-size: 2vw;
    color: rgb(105,105,105);
    text-decoration: none;
    cursor:pointer;
  }
  
  .nav a:hover {
    text-decoration: underline;
    opacity: 0.6;
  }
  
  .nav__line, .footer__line {
    background-color: rgb(105,105,105);
    height: 1px;
    width: 80%;
    margin: auto;
  }
  
  .body {
    width: 50%;
    margin: auto;
    padding: 70px 0px;
  }
  
  .body h2 {
    padding-bottom: 10px;
  }
  
  .body textarea, #contact__form {
    margin-top: 25px;
  }
  
  #contact__form {
    display: flex;
  }
  
  #contact__form div {
    padding-right: 15px;
  }
  
  .contact__name, .contact__email {
    width: 20vw;
    height: 30px;
    max-width: 250px;
  }
  
  .contact__submit {
    height: 52px;
  }
  
  .contact__msg {
    width: 40vw;
    max-width: 575px;
  }